USE [master]
GO
/****** Object:  Database [QL_ThuVien]    Script Date: 8/2/2024 10:58:12 PM ******/
CREATE DATABASE [QL_ThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_ThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DAFPL\MSSQL\DATA\QL_ThuVien.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_ThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DAFPL\MSSQL\DATA\QL_ThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_ThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_ThuVien]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[NGAYTAO] [date] NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAPHIEU] [int] IDENTITY(1,1) NOT NULL,
	[MADOCGIA] [int] NOT NULL,
	[SONGAYMUON] [int] NULL,
	[SOLUONGMUON] [int] NULL,
	[NGAYMUON] [date] NULL,
	[NGAYTRADUTINH] [date] NULL,
	[TRANGTHAITRA] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHIEUMUON_1] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACHMUON]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACHMUON](
	[maPhieuMuon] [int] NOT NULL,
	[maSach] [int] NOT NULL,
	[soLuongBiMuon] [int] NOT NULL,
 CONSTRAINT [PK_SACHMUON] PRIMARY KEY CLUSTERED 
(
	[maSach] ASC,
	[maPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[MAPHIEUTRA] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUMUON] [int] NOT NULL,
	[SOLUONGTRA] [int] NULL,
	[NGAYTAO] [date] NULL,
 CONSTRAINT [PK_PHIEUTRA] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DocGia]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[v_DocGia]
as

SELECT 
    dg.ID, 
    dg.HOTEN, 
    dg.SDT, 
    dg.EMAIL, 
	dg.NGAYTAO,
	SUM(CASE WHEN pm.TRANGTHAITRA = N'Đang mượn' THEN sm.soLuongBiMuon ELSE 0 END) AS SoSachDangMuon,
    SUM(CASE WHEN pm.TRANGTHAITRA = N'Đang mượn' AND GETDATE() > pm.NGAYTRADUTINH THEN sm.soLuongBiMuon ELSE 0 END) AS SoSachQuaHan

    
FROM 
    DOCGIA dg
LEFT JOIN 
    PHIEUMUON pm ON dg.ID = pm.MADOCGIA
LEFT JOIN 
    PHIEUTRA pt ON pm.MAPHIEU = pt.MAPHIEUMUON
LEFT JOIN 
    SACHMUON sm ON pm.MAPHIEU = sm.MAPHIEUMUON
GROUP BY 
    dg.ID, dg.HOTEN, dg.SDT, dg.EMAIL,dg.NGAYTAO;
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[username] [varchar](10) NOT NULL,
	[pass] [varchar](50) NULL,
	[role] [varchar](10) NULL,
	[id] [int] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXB]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
 CONSTRAINT [PK_NXB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUPHAT]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUPHAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MADOCGIA] [int] NOT NULL,
	[NOIDUNGPHAT] [nvarchar](max) NULL,
	[PHIPHAT] [int] NULL,
	[NGAYTAO] [date] NULL,
 CONSTRAINT [PK_PHIEUPHAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[tenSach] [nvarchar](100) NULL,
	[tacGia] [int] NOT NULL,
	[nxb] [int] NOT NULL,
	[theLoai] [int] NOT NULL,
	[giaSach] [int] NULL,
	[tongBanSao] [int] NULL,
	[soBanSaoHienCo] [int] NULL,
	[hinh] [nchar](250) NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([username], [pass], [role], [id]) VALUES (N'a         ', N'123', N'kh', 11)
INSERT [dbo].[ACCOUNT] ([username], [pass], [role], [id]) VALUES (N'admin     ', N'adm', N'admin', 1)
INSERT [dbo].[ACCOUNT] ([username], [pass], [role], [id]) VALUES (N'b         ', N'b                                                 ', N'kh', 13)
GO
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([ID], [HOTEN], [SDT], [EMAIL], [NGAYTAO]) VALUES (1, N'Trần Văn A', N'0123456789', N'vtt2005.hcm@gmail.com                             ', CAST(N'2024-07-13' AS Date))
INSERT [dbo].[DOCGIA] ([ID], [HOTEN], [SDT], [EMAIL], [NGAYTAO]) VALUES (2, N'Nguyễn Thị B', N'0987654321', N'nguyenthb@example.com                             ', CAST(N'2024-07-13' AS Date))
INSERT [dbo].[DOCGIA] ([ID], [HOTEN], [SDT], [EMAIL], [NGAYTAO]) VALUES (3, N'Lê Văn C', N'0912345678', N'levanc@example.com                                ', CAST(N'2024-07-13' AS Date))
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[NXB] ON 

INSERT [dbo].[NXB] ([id], [ten]) VALUES (1, N'Nhà xuất bản Kim Đồng')
INSERT [dbo].[NXB] ([id], [ten]) VALUES (2, N'Nhà xuất bản Trẻ')
INSERT [dbo].[NXB] ([id], [ten]) VALUES (3, N'Nhà xuất bản Văn Học')
SET IDENTITY_INSERT [dbo].[NXB] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUMUON] ON 

INSERT [dbo].[PHIEUMUON] ([MAPHIEU], [MADOCGIA], [SONGAYMUON], [SOLUONGMUON], [NGAYMUON], [NGAYTRADUTINH], [TRANGTHAITRA]) VALUES (1, 2, 30, 37, CAST(N'2024-07-13' AS Date), CAST(N'2024-08-12' AS Date), N'Đã trả')
INSERT [dbo].[PHIEUMUON] ([MAPHIEU], [MADOCGIA], [SONGAYMUON], [SOLUONGMUON], [NGAYMUON], [NGAYTRADUTINH], [TRANGTHAITRA]) VALUES (2, 3, 30, 4, CAST(N'2024-07-13' AS Date), CAST(N'2024-08-12' AS Date), N'Đã trả')
INSERT [dbo].[PHIEUMUON] ([MAPHIEU], [MADOCGIA], [SONGAYMUON], [SOLUONGMUON], [NGAYMUON], [NGAYTRADUTINH], [TRANGTHAITRA]) VALUES (3, 4, 30, 3, CAST(N'2024-07-13' AS Date), CAST(N'2024-08-12' AS Date), N'Đã trả')
SET IDENTITY_INSERT [dbo].[PHIEUMUON] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUPHAT] ON 

INSERT [dbo].[PHIEUPHAT] ([ID], [MADOCGIA], [NOIDUNGPHAT], [PHIPHAT], [NGAYTAO]) VALUES (1, 1, N'test', 50000, CAST(N'2024-08-02' AS Date))
INSERT [dbo].[PHIEUPHAT] ([ID], [MADOCGIA], [NOIDUNGPHAT], [PHIPHAT], [NGAYTAO]) VALUES (27, 3, N'test3', 50000, CAST(N'2024-08-02' AS Date))
SET IDENTITY_INSERT [dbo].[PHIEUPHAT] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUTRA] ON 

INSERT [dbo].[PHIEUTRA] ([MAPHIEUTRA], [MAPHIEUMUON], [SOLUONGTRA], [NGAYTAO]) VALUES (1, 1, 3, CAST(N'2024-07-13' AS Date))
INSERT [dbo].[PHIEUTRA] ([MAPHIEUTRA], [MAPHIEUMUON], [SOLUONGTRA], [NGAYTAO]) VALUES (2, 2, 4, CAST(N'2024-07-13' AS Date))
INSERT [dbo].[PHIEUTRA] ([MAPHIEUTRA], [MAPHIEUMUON], [SOLUONGTRA], [NGAYTAO]) VALUES (3, 3, 3, CAST(N'2024-07-13' AS Date))
SET IDENTITY_INSERT [dbo].[PHIEUTRA] OFF
GO
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([MaSach], [tenSach], [tacGia], [nxb], [theLoai], [giaSach], [tongBanSao], [soBanSaoHienCo], [hinh]) VALUES (1, N'Nác Bướm', 1, 1, 1, 50000, 6, 6, N'hinh1.jpg                                                                                                                                                                                                                                                 ')
INSERT [dbo].[SACH] ([MaSach], [tenSach], [tacGia], [nxb], [theLoai], [giaSach], [tongBanSao], [soBanSaoHienCo], [hinh]) VALUES (2, N'Harry Potter và Hòn Đá Phù Thủy', 2, 2, 4, 150000, 5, 5, N'hinh2.jpg                                                                                                                                                                                                                                                 ')
INSERT [dbo].[SACH] ([MaSach], [tenSach], [tacGia], [nxb], [theLoai], [giaSach], [tongBanSao], [soBanSaoHienCo], [hinh]) VALUES (3, N'Nguồn gốc của các loài', 3, 3, 3, 80000, 7, 5, N'hinh3.jpg                                                                                                                                                                                                                                                 ')
SET IDENTITY_INSERT [dbo].[SACH] OFF
GO
INSERT [dbo].[SACHMUON] ([maPhieuMuon], [maSach], [soLuongBiMuon]) VALUES (318, 3, 1)
INSERT [dbo].[SACHMUON] ([maPhieuMuon], [maSach], [soLuongBiMuon]) VALUES (318, 4, 1)
INSERT [dbo].[SACHMUON] ([maPhieuMuon], [maSach], [soLuongBiMuon]) VALUES (319, 20, 1)
GO
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([ID], [TEN]) VALUES (1, N'Nguyễn Nhật Ánh')
INSERT [dbo].[TACGIA] ([ID], [TEN]) VALUES (2, N'J.K. Rowling')
INSERT [dbo].[TACGIA] ([ID], [TEN]) VALUES (3, N'Nguyễn Du')
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[THELOAI] ON 

INSERT [dbo].[THELOAI] ([ID], [TEN]) VALUES (1, N'Thiếu nhi')
INSERT [dbo].[THELOAI] ([ID], [TEN]) VALUES (2, N'Kinh dị')
INSERT [dbo].[THELOAI] ([ID], [TEN]) VALUES (3, N'Văn học cổ điển')
SET IDENTITY_INSERT [dbo].[THELOAI] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ACCOUNT]    Script Date: 8/2/2024 10:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNT] ON [dbo].[ACCOUNT]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PHIEUMUON] ADD  CONSTRAINT [DF_PHIEUMUON_SOLUONGMUON]  DEFAULT ((30)) FOR [SOLUONGMUON]
GO
ALTER TABLE [dbo].[PHIEUMUON] ADD  CONSTRAINT [DF_PHIEUMUON_TRANGTHAITRA]  DEFAULT (N'Đang mượn') FOR [TRANGTHAITRA]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH NOCHECK ADD  CONSTRAINT [FK_PHIEUMUON_DOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([ID])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUPHAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUPHAT_DOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([ID])
GO
ALTER TABLE [dbo].[PHIEUPHAT] CHECK CONSTRAINT [FK_PHIEUPHAT_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH NOCHECK ADD  CONSTRAINT [FK_PHIEUTRA_PHIEUMUON] FOREIGN KEY([MAPHIEUMUON])
REFERENCES [dbo].[PHIEUMUON] ([MAPHIEU])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_PHIEUMUON]
GO
ALTER TABLE [dbo].[SACH]  WITH NOCHECK ADD  CONSTRAINT [FK_SACH_NXB] FOREIGN KEY([nxb])
REFERENCES [dbo].[NXB] ([id])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NXB]
GO
ALTER TABLE [dbo].[SACH]  WITH NOCHECK ADD  CONSTRAINT [FK_SACH_TACGIA] FOREIGN KEY([tacGia])
REFERENCES [dbo].[TACGIA] ([ID])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TACGIA]
GO
ALTER TABLE [dbo].[SACH]  WITH NOCHECK ADD  CONSTRAINT [FK_SACH_THELOAI] FOREIGN KEY([theLoai])
REFERENCES [dbo].[THELOAI] ([ID])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THELOAI]
GO
ALTER TABLE [dbo].[SACHMUON]  WITH NOCHECK ADD  CONSTRAINT [FK_SACHMUON_PHIEUMUON] FOREIGN KEY([maPhieuMuon])
REFERENCES [dbo].[PHIEUMUON] ([MAPHIEU])
GO
ALTER TABLE [dbo].[SACHMUON] CHECK CONSTRAINT [FK_SACHMUON_PHIEUMUON]
GO
ALTER TABLE [dbo].[SACHMUON]  WITH CHECK ADD  CONSTRAINT [FK_SACHMUON_SACH] FOREIGN KEY([maSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[SACHMUON] CHECK CONSTRAINT [FK_SACHMUON_SACH]
GO
/****** Object:  StoredProcedure [dbo].[sp_insertAccount]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_insertAccount](
	@userName nchar(10),
	@pass nchar(200),
	@hoten nvarchar(50),
	@sdt nchar(10),
	@email nchar(50)
)
as
begin
	declare @id int
	insert into DOCGIA
	values (@hoten, @sdt, @email,getdate())

	 set @id = SCOPE_IDENTITY()

	 insert into ACCOUNT
	 values (@userName, @pass, 'kh', @id)
	
end
GO
/****** Object:  StoredProcedure [dbo].[sp_insertDocGia]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_insertDocGia]
@hoten nvarchar(50),
@sdt varchar(10),
@email varchar(50)
as
begin
insert into DOCGIA
values (@hoten, @sdt, @email, GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[sp_insertPhieuTra]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertPhieuTra](
    @maPhieuMuon int,
    @soLuongTra int
)
AS
BEGIN
    -- Tạo phiếu trả
    INSERT INTO PHIEUTRA (MAPHIEUMUON, SOLUONGTRA, NGAYTAO)
    VALUES (@maPhieuMuon, @soLuongTra, getDate());

    -- Kiểm tra xem có cần tạo phiếu phạt hay không
    --IF @phieuPhat IS NOT NULL
    --BEGIN
    --    -- Tạo phiếu phạt
    --    EXEC TaoPhieuPhat @phieuPhat);
    --END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertSachMuon]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_insertSachMuon] (
  @maPhieuMuon int,
  @maSach int,
  @soLuongBiMuon int
)
AS
BEGIN

if not exists (select @maSach from SACHMUON where maPhieuMuon = @maPhieuMuon and maSach = @maSach)
begin
	INSERT INTO SACHMUON (
    maPhieuMuon,
    MASACH,
    SOLUONGBIMUON
  )
  VALUES (
    @maPhieuMuon,
    @maSach,
    @soLuongBiMuon
  );

	UPDATE SACH
	 SET soBanSaoHienCo = soBanSaoHienCo - @soLuongBiMuon
	 WHERE MaSach = @maSach
end
else
	begin
		update SACHMUON
		set soLuongBiMuon = @soLuongBiMuon
		where maSach = @maSach and maPhieuMuon = @maPhieuMuon

		UPDATE SACH
	 SET soBanSaoHienCo = soBanSaoHienCo + @soLuongBiMuon
	 WHERE MaSach = @maSach

	end
  
  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_muonSach]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_muonSach] (
  @madocgia int,
  @songaymuon int,
  @trangthaitra nvarchar(50) ,
  @muonSach  varchar(1000)
  --@ErrorCode INT OUTPUT
)
AS
BEGIN
begin try
begin tran

 
   	 
 
	---Tạo phiếu mượn
	DECLARE @maPhieuMuon int;
	  INSERT INTO PHIEUMUON (
		MADOCGIA,
		SONGAYMUON,
		SOLUONGMUON,
		NGAYMUON,
		NGAYTRADUTINH,
		TRANGTHAITRA
	  )
	  VALUES (
		@madocgia,
		@songaymuon,
		0,
		getdate(),
		DATEADD(DAY,@songaymuon,getdate()),
		@trangthaitra
	  );

	  ---Lưu mã phiếu mượn vừa tạo
	 SET @maPhieuMuon = SCOPE_IDENTITY()

	 --Tạo bảng tạm chứa mượn sách
	 SELECT * into #MuonSachTam
	FROM string_split(@muonSach, ';')

	--Duyệt qua từng dòng trong bảng tạm để bóc tách maSach, soLuongBiMuon
	DECLARE @value varchar(1000)
	DECLARE @maSach int, @soLuongBiMuon int


	DECLARE MuonSachCursor CURSOR FOR
	SELECT * FROM #MuonSachTam

	
	OPEN MuonSachCursor
	--Duyệt qua từng record trong bảng tạm
	FETCH NEXT FROM MuonSachCursor INTO @value

	--Kiểm tra xem còn dòng để duyệt nữa không
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SELECT @maSach = CAST(SUBSTRING(@value, 0, CHARINDEX(',',@value)) AS int),
				@soLuongBiMuon = CAST(SUBSTRING(@value, CHARINDEX(',',@value) + 1, LEN(@value) - CHARINDEX(',', @value) ) AS int)

		---Chèn vào bảng sách mượn

				INSERT INTO SACHMUON (
				maPhieuMuon,
				MASACH,
				SOLUONGBIMUON
			  )
			  VALUES (
				@maPhieuMuon,
				@maSach,
				@soLuongBiMuon
			  );
		
				UPDATE SACH
				 SET soBanSaoHienCo = soBanSaoHienCo - @soLuongBiMuon
				 WHERE MaSach = @maSach

			


		--Lấy dòng kế
		FETCH NEXT FROM MuonSachCursor INTO @value
	END

	

	CLOSE MuonSachCursor
	DEALLOCATE MuonSachCursor


	commit tran
	end try
	begin catch
	throw 50001, 'abc',1
	rollback tran
	end catch


END
GO
/****** Object:  StoredProcedure [dbo].[sp_traSach]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_traSach] (
	@maPhieuMuon int,
	@sachTra varchar(1000)
)
as
begin
	BEGIN TRAN
	BEGIN TRY
		DECLARE @maPhieuTra int
	--Tạo phiếu trả
	INSERT INTO PHIEUTRA
	VALUES (@maPhieuMuon, 0, GETDATE())

	--Lưu mã phiếu trả vừa tạo
	--set @maPhieuTra = @@IDENTITY

	--Tạo bảng sách trả tạm
		SELECT * INTO #TRASACHTAM
		FROM string_split(@sachTra, ';')

	--Duyệt qua từng dòng trong bảng tạm để bóc tách maSach, soLuongBiMuon
	DECLARE @value varchar(1000)
	DECLARE @maSach int, @soLuongBiMuon int

	DECLARE TraSachhCursor CURSOR FOR
	SELECT * FROM #TRASACHTAM

	OPEN TraSachhCursor
	--Duyệt qua từng record trong bảng tạm
	FETCH NEXT FROM TraSachhCursor INTO @value

	--Kiểm tra xem còn dòng để duyệt nữa không
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SELECT @maSach = CAST(SUBSTRING(@value, 0, CHARINDEX(',',@value)) AS int),
				@soLuongBiMuon = CAST(SUBSTRING(@value, CHARINDEX(',',@value) + 1, LEN(@value) - CHARINDEX(',', @value) ) AS int)

		---Xóa vào bảng sách mượn

		IF (SELECT soLuongBiMuon FROM SACHMUON WHERE maSach = @maSach AND maPhieuMuon = @maPhieuMuon ) = @soLuongBiMuon
			BEGIN
				DELETE SACHMUON
				WHERE maSach = @maSach AND maPhieuMuon = @maPhieuMuon
			END
		ELSE
			BEGIN
				UPDATE SACHMUON
				SET soLuongBiMuon = soLuongBiMuon - @soLuongBiMuon
				WHERE maSach = @maSach AND maPhieuMuon = @maPhieuMuon

				UPDATE SACH
				SET soBanSaoHienCo = soBanSaoHienCo + @soLuongBiMuon
				WHERE MaSach = @maSach
			END
				

		--Lấy dòng kế
		FETCH NEXT FROM TraSachhCursor INTO @value
	END

	CLOSE TraSachhCursor
	DEALLOCATE TraSachhCursor


		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN
	END CATCH



end
GO
/****** Object:  StoredProcedure [dbo].[sp_updateMuonSach]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_updateMuonSach] (
	@maPhieuMuon int,
  @madocgia int,
  @songaymuon int,
  @trangthaitra nvarchar(50) ,
  @muonSach  varchar(1000)
)
AS
BEGIN
  
  BEGIN TRAN
  BEGIN TRY

	 --Tạo bảng tạm chứa mượn sách
	 SELECT * into #MuonSachTam
	FROM string_split(@muonSach, ';')

	--Duyệt qua từng dòng trong bảng tạm để bóc tách maSach, soLuongBiMuon
	DECLARE @value varchar(1000)
	DECLARE @maSach int, @soLuongBiMuon int

	DECLARE MuonSachCursor CURSOR FOR
	SELECT * FROM #MuonSachTam

	OPEN MuonSachCursor
	--Duyệt qua từng record trong bảng tạm
	FETCH NEXT FROM MuonSachCursor INTO @value

	--Kiểm tra xem còn dòng để duyệt nữa không
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SELECT @maSach = CAST(SUBSTRING(@value, 0, CHARINDEX(',',@value)) AS int),
				@soLuongBiMuon = CAST(SUBSTRING(@value, CHARINDEX(',',@value) + 1, LEN(@value) - CHARINDEX(',', @value) ) AS int)

		---Chèn vào bảng sách mượn
		if not exists (select 1 from SACHMUON where maPhieuMuon = @maPhieuMuon and maSach = @maSach)
			begin
				INSERT INTO SACHMUON (
				maPhieuMuon,
				MASACH,
				SOLUONGBIMUON
			  )
			  VALUES (
				@maPhieuMuon,
				@maSach,
				@soLuongBiMuon
			  );

				UPDATE SACH
				 SET soBanSaoHienCo = soBanSaoHienCo - @soLuongBiMuon
				 WHERE MaSach = @maSach
			end
			else
				begin
					update SACHMUON
					set soLuongBiMuon = @soLuongBiMuon
					where maSach = @maSach and maPhieuMuon = @maPhieuMuon

					UPDATE SACH
				 SET soBanSaoHienCo = soBanSaoHienCo + @soLuongBiMuon
				 WHERE MaSach = @maSach

		end


		--Lấy dòng kế
		FETCH NEXT FROM MuonSachCursor INTO @value
	END



	CLOSE MuonSachCursor
	DEALLOCATE MuonSachCursor

	COMMIT TRAN
  END TRY
  BEGIN CATCH
	ROLLBACK TRAN
  END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[TaoPhieuPhat]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TaoPhieuPhat](
	@docGiaID int,
	@noiDungPhat NVARCHAR(MAX),
	@PHIPHAT INT,
	@NgayTao date
)
AS
BEGIN

    -- Tạo phiếu phạt
    INSERT INTO PHIEUPHAT (MADOCGIA ,NOIDUNGPHAT, PHIPHAT, NGAYTAO)
    VALUES (@docGiaID, @noiDungPhat, @phiPhat, @NgayTao);
END
GO
/****** Object:  StoredProcedure [dbo].[test2]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[test2]
as
begin
declare @muonSach nvarchar(max) = '5,3'
declare @MuonSachTam table (masach int, soluong int)

insert into @MuonSachTam (masach, soluong)
select 
    CAST(LEFT(value, CHARINDEX(',', value) - 1) AS int) as masach,
    CAST(RIGHT(value, LEN(value) - CHARINDEX(',', value)) AS int) as soluong
from 
    string_split(@muonSach, ';')


DECLARE @maSach INT;
DECLARE @soLuong INT;
DECLARE @maPhieuMuon INT = 285; -- Nhập giá trị mã phiếu mượn theo yêu cầu

DECLARE cur CURSOR FOR
SELECT * FROM @MuonSachTam;

-- Mở con trỏ
OPEN cur;

-- Lấy dữ liệu từng dòng
FETCH NEXT FROM cur INTO @maSach, @soLuong;

WHILE @@FETCH_STATUS = 0
BEGIN
    -- Chèn dữ liệu vào bảng chính
    INSERT INTO SACHMUON (maPhieuMuon,maSach,soLuongBiMuon)
    VALUES (@maPhieuMuon, @maSach, @soLuong);
    
    -- Lấy dòng tiếp theo
    FETCH NEXT FROM cur INTO  @maSach, @soLuong;
END

-- Đóng và giải phóng con trỏ
CLOSE cur;
DEALLOCATE cur;
end
GO
/****** Object:  StoredProcedure [dbo].[testCatch]    Script Date: 8/2/2024 10:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[testCatch]
as
begin
	
exec sp_muonSach 22,30,'dang tra','5,1;6,1;7,1;8,1;9,1;10,1'

	

end
GO
USE [master]
GO
